<div class="box box-success">
  <div class="box-header with-border">
    <h3 class="box-title">Bitte gib die Parameter für den neuen Beitrag an:</h3>
  </div>

  <%= form_for(@message, html: { role: "form" }) do |f| %>
    <%= f.hidden_field :campaign_id, value: @campaign.id %>
    <div class="box-body">
      <% if @message.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-ban"></i> Achtung!</h4>
          <ul class="list-unstyled">
            <% @message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :m_text %>*
        <%= f.text_area :m_text, class: "form-control", placeholder: "Beitragstext" %>
      </div>
      <div class="form-group">
        <%= f.label :m_author %>*
        <%= f.text_field :m_author, class: "form-control", placeholder: "Autorenname" %>
      </div>
      <div class="form-group">
        <%= f.label :m_moment %>*
        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :m_moment, class: "form-control pull-right datepicker",
                           placeholder: "Beitragszeitpunkt" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :m_origin %>*
        <div class="form-m-origin">
          <div class="message-origin">
            <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
            <%= f.radio_button :m_origin, "twitter" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
            <%= f.radio_button :m_origin, "instagram" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
            <%= f.radio_button :m_origin, "facebook" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
            <%= f.radio_button :m_origin, "googleplus" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
            <%= f.radio_button :m_origin, "tumblr" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-social-icon btn-vine"><i class="fa fa-vine"></i></a>
            <%= f.radio_button :m_origin, "vine" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube-play"></i></a>
            <%= f.radio_button :m_origin, "youtube" %>
          </div>
          <div class="message-origin">
            <a class="btn btn-semon"><span><b>SE</b>M</span></a>
            <%= f.radio_button :m_origin, "semon" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :m_details %>
        <%= f.text_field :m_details, class: "form-control", placeholder: "Beitragsdetails" %>
      </div>
      <div class="form-group">
        <%= f.label :m_rating %>
        <%= f.select :m_rating, [1,2,3], {include_blank: true}, { class: "form-control selectpicker" } %>
      </div>
      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.select :category_id, [1,2,3], {include_blank: true}, { class: "form-control selectpicker" } %>
      </div>
      <div class="form-group">
        <%= f.label :sentiment_id %>
        <%= f.select :sentiment_id, [1,2,3], {include_blank: true}, { class: "form-control selectpicker" } %>
      </div>
      <div class="box-footer">
        <%= f.submit "Speichern", class: "btn btn-success" %>
        <%= link_to "Zurück", :back, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :page_script do %>
  <script type="text/javascript">
    $(function () {
      $('.input-group.date').datetimepicker({
        locale: 'de',
        allowInputToggle: true,
        showClose: true
      });

      $('input[type=radio]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue'
      });

      $('.message-origin .btn').click(function () {
        $(this).next().iCheck('check');
      });

      if($('.message-origin .field_with_errors').length) {
        $('.form-m-origin').addClass('message-origin-with-errors');
      }
    });
  </script>
<% end %>

