<% box_class = "success" %>
<% if @message.errors.any? %>
  <% box_class = "danger" %>
<% end %>

<div class="box box-<%= box_class %>">
  <div class="box-header with-border">
    <h3 class="box-title">Bitte gib die Parameter für den neuen Beitrag an:</h3>
  </div>

  <%= form_for(@message, html: { role: "form" }) do |f| %>
    <%= f.hidden_field :campaign_id, value: @campaign.id %>
    <div class="box-body">
      <% if @message.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-ban"></i> Achtung!</h4>
          <ul class="list-unstyled">
            <% @message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :m_text %>*
        <%= f.text_area :m_text, class: "form-control", placeholder: "Beitragstext" %>
      </div>
      <div class="form-group">
        <%= f.label :m_author %>*
        <%= f.text_field :m_author, class: "form-control", placeholder: "Autorenname" %>
      </div>
      <div class="form-group">
        <%= f.label :m_moment %>*
        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :m_moment, class: "form-control pull-right datepicker",
                           placeholder: "Beitragszeitpunkt" %>
        </div>
      </div>
      <%= render partial: "/messages/partials/origin_selection", locals: { f: f } %>
      <%= render partial: "/messages/partials/twitter_details", locals: { f: f } %>
      <%= render partial: "/messages/partials/instagram_details", locals: { f: f } %>
      <%= render partial: "/messages/partials/facebook_details", locals: { f: f } %>
      <div class="form-group">
        <%= f.label :category_id %>
        <% category_select = Category.all.order(:cat_name).map{ |c| [c.cat_name, c.id] } %>
        <%= f.select :category_id, category_select,
                     { include_blank: true }, { class: "form-control selectpicker show-tick",
                       "data-live-search" => "true", "data-size" => "auto" } %>
      </div>
      <%= render partial: "/messages/partials/sentiment_selection", locals: { f: f } %>
      <div class="form-group">
        <%= f.label :m_rating %>
        <%= f.select :m_rating, [1, 2, 3], { include_blank: true },
                                         { class: "form-control selectpicker" } %>
      </div>
      <div class="box-footer">
        <%= f.submit "Speichern", class: "btn btn-success" %>
        <%= link_to "Zurück", :back, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :page_script do %>
  <%= javascript_include_tag "messages" %>
<% end %>

