<div class="form-group">
  <%= f.label :m_origin %>*
  <div class="form-m-origin">
    <div class="message-origin">
      <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
      <%= f.radio_button :m_origin, "twitter" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
      <%= f.radio_button :m_origin, "instagram" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
      <%= f.radio_button :m_origin, "facebook" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-social-icon btn-google-plus"><i class="fa fa-google-plus"></i></a>
      <%= f.radio_button :m_origin, "googleplus" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-social-icon btn-tumblr"><i class="fa fa-tumblr"></i></a>
      <%= f.radio_button :m_origin, "tumblr" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-social-icon btn-vine"><i class="fa fa-vine"></i></a>
      <%= f.radio_button :m_origin, "vine" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-social-icon btn-youtube"><i class="fa fa-youtube-play"></i></a>
      <%= f.radio_button :m_origin, "youtube" %>
    </div>
    <div class="message-origin">
      <a class="btn btn-semon"><span><b>SE</b>M</span></a>
      <%= f.radio_button :m_origin, "semon" %>
    </div>
  </div>
</div>
