<% messages.each do |message| %>
  <% message_date = message_date(message.m_moment) %>
  <% if message_date != prev_message_date %>
    <%# timeline time label %>
    <li class="time-label">
      <span>
        <%= message_date %>
      </span>
    </li>
  <% end %>
  <%# timeline item %>
  <li data-msg-id="<%= message.id %>">
    <%# timeline icon %>
    <i class="fa fa-<%= timeline_icon(message.m_origin) %> bg-<%= message.m_origin %>">
      <%= timeline_icon_semon(message.m_origin) %>
    </i>
    <%# sentiment icon %>
    <% if message.sentiment_id != 2 %>
      <i class="fa fa-<%= timeline_icon_sentiment(message.sentiment_id) %>"></i>
    <% end %>
    <div class="timeline-item <%= message_rating_class(message.m_rating) %>">
      <span class="time"><i class="fa fa-clock-o"></i> <%= message_time(message.m_moment) %></span>

      <h3 class="timeline-header">
        <%= link_to message_user_url(message.m_details),
            target: "#{ message.m_origin == 'semon' ? '_self' : '_blank'}" do %>
          <%= message_user_image(message.m_details) %>
          <%= unescape_text_characters(message.m_author) %>
        <% end %>
      </h3>

      <div class="timeline-body">
        <%= message_text_with_links(message.m_text) %>
      </div>

      <div class="timeline-footer">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <%= link_to message_url(message), title: message_url(message), class: "link-origin",
                target: "#{ message.m_origin == 'semon' ? '_self' : '_blank'}" do %>
              <i class="fa fa-link"></i>
            <% end %>
            <%= link_to "#", title: "Kategorie des Beitrags", class: "set-category" do %>
              <% message_category_id = message.category.present? ? message.category.id : 0 %>
              <div class="hidden category-id"><%= message_category_id %></div>
              <i class="fa fa-folder-o" title="Kategorie des Beitrags"></i>
            <% end %>
            <% if message.category.present? %>
              <button class="btn btn-default btn-xs disabled">
                <%= message.category.cat_name %>
              </button>
            <% end %>
            <i class="fa fa-tags" title="Stichworte des Beitrags"></i>
            <% message.tags.each do |tag| %>
              <button class="btn btn-default btn-xs disabled"><%= tag.t_name %></button>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-3 m-edits">
            <%= link_to "messages/#{message.id}?sentiment_id=1", title: "Sentiment wechseln",
                method: :put, remote: true, class: "m-sentiment" do %>
              <i class="fa fa-smile-o text-success"></i>
            <% end %>
            <%= link_to "messages/#{message.id}?sentiment_id=2", title: "Sentiment wechseln",
                method: :put, remote: true, class: "m-sentiment" do %>
              <i class="fa fa-meh-o text-warning"></i>
            <% end %>
            <%= link_to "messages/#{message.id}?sentiment_id=3", title: "Sentiment wechseln",
                method: :put, remote: true, class: "m-sentiment" do %>
              <i class="fa fa-frown-o text-danger"></i>
            <% end %>
            <%= link_to "messages/#{message.id}?m_rating=#{message.m_rating == 1 ? 2 : 1}",
                title: "#{message.m_rating == 1 ? 'normal bewerten' : 'wertvoll bewerten'}",
                method: :put, remote: true, class: "m-rating" do %>
              <i class="fa <%= message.m_rating == 1 ? 'fa-star-o' : 'fa-star' %> text-lightblue">
              </i>
            <% end %>
            <%= link_to "messages/#{message.id}", title: "löschen", method: :delete, remote: true,
                data: { confirm: "Diese Nachricht wirklich entfernen?" }, class: "pull-right" do %>
              <i class="fa fa-trash-o text-red"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% prev_message_date = message_date %>
<% end %>
