<% messages.each do |message| %>
  <% message_date = message_date(message.m_moment) %>
  <% if message_date != prev_message_date %>
    <%# timeline time label %>
    <li class="time-label">
      <span>
        <%= message_date %>
      </span>
    </li>
  <% end %>
  <%# timeline item %>
  <li>
    <%# timeline icon %>
    <i class="fa fa-<%= timeline_icon(message.m_origin) %> bg-<%= message.m_origin %>">
      <%= timeline_icon_semon(message.m_origin) %>
    </i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> <%= message_time(message.m_moment) %></span>

      <h3 class="timeline-header">
        <a href="#" target="_blank"><%= message.m_author %></a>
      </h3>

      <div class="timeline-body">
        <%= message_text_with_links(message.m_text) %>
      </div>

      <div class="timeline-footer">
        <i class="fa fa-tags"></i>
        <% message.tags.each do |tag| %>
          <button class="btn btn-default btn-xs disabled"><%= tag.t_name %></button>
        <% end %>
      </div>
    </div>
  </li>
  <% prev_message_date = message_date %>
<% end %>

<%# link zum tweet: M_DETAILS.USER.URL/status/M_DETAILS.ID %>
