<!DOCTYPE html>
<html>
<head>
  <title>Semon</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="tweets"></div>
  <div id="counter"></div>

  <script type="text/jsx">
    // react code goes here
    /** @jsx React.DOM */
    var TweetList = React.createClass({
      filterList: function (event) {
        var updatedList = this.state.initialItems;
        updatedList = updatedList.filter(function (item) {
          return item.toLowerCase().search(event.target.value.toLowerCase()) !== -1;
        });
        this.setState({items: updatedList});
      },
      getInitialState: function () {
        return {
          initialItems: eval(this.props.tweets),
          items: []
        };
      },
      componentWillMount: function () {
        this.setState({items: this.state.initialItems});
      },
      render: function () {
        return (
          <div className="filter-list">
            <input type="text" placeholder="Search" onChange={this.filterList}/>
          <List items={this.state.items}/>
          </div>
        );
      }
    });

    var List = React.createClass({
      render: function () {
        return (
          <ul>
          {
            this.props.items.map(function (item) {
              return <li key={item}>{item}</li>;
            })
          }
          </ul>
        );
      }
    });

    React.render(
      <TweetList tweets="<%= @texts %>"/>,
      document.getElementById('tweets')
    );



    var Counter = React.createClass({
      incrementCount: function () {
        this.setState({
          count: this.state.count + 1
        });
      },
      getInitialState: function () {
         return {
           count: 0
         }
      },
      render: function () {
        return (
          <div class="counter-component">
            <h1>Count: {this.state.count}</h1>
            <button type="button" onClick={this.incrementCount}>Increment</button>
          </div>
        );
      }
    });

    React.render(
      <Counter/>,
      document.getElementById('counter')
    );
  </script>

  <%= yield %>

</body>
</html>
