<section class="content-header">
  <h1>
    <%= campaign_name(@campaign) %>
    <small>Stichworte</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-th"></i> Kampagnen</a></li>
    <li><%= link_to "#{campaign_name(@campaign)} Dashboard", campaign_path(@campaign) %></li>
    <li class="active"><a href="#"><%= campaign_name(@campaign) %> Stichworte</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Verwalte die Stichworte für Deine Kampagne:</h3>
        </div>
        <div class="box-body">
          <%= form_for(@tag, remote: true, html: { role: "form" }) do |f| %>
            <div class="input-group">
              <%= f.hidden_field :campaign_id, value: @campaign.id %>
              <%= f.text_field :t_name, class: "form-control", placeholder: "Stichwort",
                                        autofocus: "" %>
              <span class="input-group-btn">
                <%= f.submit "Hinzufügen", class: "btn btn-success" %>
              </span>
            </div>
          <% end %>
        </div>

        <div id="flash-msg" class="box-body" style="display: none;"></div>

        <div class="box-body">
          <div id="tag-tree"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :page_script do %>
  <%= javascript_include_tag "tags" %>

  <script type="text/javascript">
    var treeSelector = '#tag-tree';
    var treeData = JSON.parse('<%=j @tags_json %>');
    createTreeview(treeSelector, treeData);
  </script>
<% end %>
