<section class="content-header">
  <h1>
    Alle Kampagnen
    <small>Übersicht</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active"><a href="/"><i class="fa fa-th"></i> Alle Kampagnen</a></li>
  </ol>
</section>

<section class="content">
  <% if flash.present? %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <% flash.each do |type, msg| %>
            <div class="alert-<%= type == 'alert' ? 'danger' : 'success' %> alert alert-dismissable">
              <i class="fa-<%= type == 'alert' ? 'ban' : 'check' %> fa"></i>
              <button aria-hidden="true" class="close" data-dismiss="alert" type="button">x</button>
              <p>
                <%= msg %>
              </p>
            </div>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>

  <div class="row margin-bottom">
    <div class="col-md-12">
      <%= link_to "Kampagne erstellen", new_campaign_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>

  <div class="row">
    <% @campaigns.each do |campaign| %>
      <div class="col-lg-3 col-xs-6">
        <a href="#" title="<%= campaign.c_name %>">
          <div class="small-box <%= campaign.c_status == 1 ? 'bg-light-blue' : 'bg-gray' %>">
            <div class="inner">
              <h3><%= campaign.c_name %></h3>
              <p><%= campaign.c_start.strftime("%d.%m.%Y") %> - <%= campaign.c_end.strftime("%d.%m.%Y") %></p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <div class="small-box-footer">Dashboard <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to "Kampagne erstellen", new_campaign_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
</section>


<ol>
  <% @campaigns.each do |campaign| %>
    <li>
      <%= campaign.c_name %>
      <%= campaign.c_description %>
      <%= campaign.c_start %>
      <%= campaign.c_end %>
      <%= campaign.c_status %>
      <%= link_to 'Bearbeiten', edit_campaign_path(campaign), class: "btn btn-xs btn-default" %>
      <%= link_to 'Löschen', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %>
    </li>
  <% end %>
</ol>
