<section class="content-header">
  <h1>
    Kampagnen
    <small>Übersicht</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active"><a href="/"><i class="fa fa-th"></i> Kampagnen</a></li>
  </ol>
</section>

<section class="content">
  <div class="row margin-bottom">
    <div class="col-md-12">
      <%= link_to "Kampagne erstellen", new_campaign_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row">
    <%# create a box element for every campaign containing its name and date range %>
    <% active_campaigns_first.each do |campaign| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= link_to campaign_path(campaign), title: campaign_name(campaign) do %>
          <div class="small-box <%= campaign.c_status == 1 ? 'bg-light-blue' : 'bg-gray' %>">
            <div class="inner">
              <h3><%= campaign_name(campaign) %></h3>
              <p><%= campaign_date_range(campaign) %></p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <div class="small-box-footer">Dashboard <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# show create button under the campaigns list if there are a few more of them %>
  <% if @campaigns.to_a.count > 12 %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "Kampagne erstellen", new_campaign_path, class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</section>

<% content_for :page_script do %>
  <script type="text/jsx">
    // react code goes here
    /** @jsx React.DOM */
    var HelpRenderer = React.createClass({
      displayName: 'HelpRenderer',
      render: function() {
        return (
          <div className="help-comment">
            <p>Dies ist die Startseite der Anwendung.</p>
            <p>
              Es werden alle Kampagnen des Systems gelistet. Vergangene Kampagnen werden in grauen
              Kästen und aktive Kampagnen in blauen Kästen dargestellt.
            </p>
            <p>Per Klick auf ein Element gelangst Du zum jeweiligen Kampagnendashboard.</p>
            <p>
              Um eine neue Kampagne zu erstellen, kann der Button
              <a href="#" className="btn btn-success">Kampagne erstellen</a><br/>
              gewählt werden.
            </p>
          </div>
        );
      }
    });

    React.render(
      <HelpRenderer/>,
      document.getElementById('help-container')
    );
  </script>
<% end %>
