<section class="content-header">
  <h1>
    <%= campaign_name(@campaign) %>
    <small>Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-th"></i> Alle Kampagnen</a></li>
    <li class="active"><a href="#"><%= campaign_name(@campaign) %> Dashboard</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to messages_path, class: "info-box" do %>
        <span class="info-box-icon bg-light-blue"><i class="ion-ios-list-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Alle Beiträge</span>
          <span class="info-box-number"><%= @campaign.messages.count %></span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% colors = ['#3c8dbc', '#dd4b39', '#00a65a', '#00c0ef', '#f39c12', '#0073b7', '#001F3F', '#39CCCC', '#3D9970', '#01FF70', '#FF851B', '#F012BE', '#605ca8', '#D81B60', '#111111', '#d2d6de'] %>
      <%= chart :pie_chart, @campaign_tags,
                options: { colors: colors } %>
    </div>

    <div id="chart" class="col-md-6"></div>

    <div class="col-md-12"><%= link_to "Tweets", "/tweets/#{@campaign.id}" %></div>
  </div>
</section>

<% content_for :google_charts_script do %>
  <%= javascript_include_tag "//www.google.com/jsapi" %>
  <%# https://github.com/pachacamac/swagchart %>
<% end %>

<% content_for :page_script do %>
  <script type="text/jsx">
    // react code goes here
    /** @jsx React.DOM */
    var Chart = React.createClass({
      render: function () {
        return (
          <div class="col-md-6">
            ads
          </div>
        );
      }
    });

    React.render(
      <Chart/>,
      document.getElementById('chart')
    );
  </script>
<% end %>
