<aside class="main-sidebar">
  <%# sidebar %>
  <section class="sidebar" style="height: auto;">
    <%# sidebar menu %>
    <ul class="sidebar-menu">
      <li class="<%= 'active' if current_page?(root_path) %>">
        <a href="/">
          <i class="fa fa-th"></i> <span>Kampagnen</span>
          <small class="label pull-right bg-light-blue active-campaigns" title="aktiv">
            <%= Campaign.active.count %>
          </small>
          <small class="label pull-right bg-gray" title="inaktiv">
            <%= Campaign.inactive.count %>
          </small>
        </a>
      </li>
      <li class="<%= 'active' if current_page?(categories_path) %>">
        <%= link_to categories_path do %>
          <i class="fa fa-folder-o"></i> <span>Kategorien</span>
          <small class="label pull-right bg-light-blue">
            <%= Category.count %>
          </small>
        <% end %>
      </li>
      <%= render "/layouts/partials/campaign_navigation" %>
    </ul>
  </section>
</aside>
