<% if is_campaign? %>
  <li class="header">KAMPAGNE</li>
  <li class="<%= 'active' if current_page?(campaign_path(@campaign)) %>">
    <%= link_to campaign_path(@campaign) do %>
      <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?(messages_path) %>">
    <%= link_to messages_path do %>
      <i class="fa ion-ios-list-outline"></i> <span>Timeline</span>
      <small id="all-messages-count-navi" class="label pull-right bg-light-blue" title="Beiträge">
        <%= @campaign.messages.count %>
      </small>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?("/campaigns/#{@campaign.id}/tags") %>">
    <%= link_to "/campaigns/#{@campaign.id}/tags" do %>
      <i class="fa fa-tags"></i> <span>Stichworte verwalten</span>
    <% end %>
  </li>
  <li>
    <% if @campaign.tags.present? %>
      <% if @campaign.c_status == 0 %>
        <%= link_to campaign_path(@campaign, { campaign: { c_status: "1" } }), method: :put do %>
          <i class="fa fa-play"></i> <span>Kampagne aktivieren</span>
        <% end %>
      <% else %>
        <%= link_to campaign_path(@campaign, { campaign: { c_status: "0" } }), method: :put do %>
          <i class="fa fa-stop"></i> <span>Kampagne deaktivieren</span>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li class="<%= 'active' if current_page?(edit_campaign_path(@campaign)) %>">
    <%= link_to edit_campaign_path(@campaign) do %>
      <i class="fa fa-pencil"></i> <span>Kampagne bearbeiten</span>
    <% end %>
  </li>
  <li>
    <%#= link_to @campaign, method: :delete,
                data: { confirm: "#{campaign_name(@campaign)} wirklich entfernen?" } do %>
    <%= link_to "", data: {
          confirm: "#{campaign_name(@campaign)} wird hier nicht wirklich entfernt"
        } do %>
      <i class="fa fa-trash-o text-red"></i> <span>Kampagne löschen</span>
    <% end %>
  </li>
<% end %>
