<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/admin_ikusei_frontend_head_meta" %>
</head>
<body class="skin-black sidebar-mini fixed">
    <%= render "layouts/admin_ikusei_frontend_headerbar" %>

    <%# left side column %>
    <%= render "layouts/admin_ikusei_frontend_sidebar" %>

    <%# page content %>
    <div class="content-wrapper">
      <%= yield %>
    </div>

    <%= render "layouts/admin_ikusei_frontend_controlbar" %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true,
                               "data-turbolinks-eval" => false %>
    <%= yield :page_script %>
  </body>
</html>
