<li class="list-group-item node-tree node-added" style="display: none;">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <%= form_for(@new_tag, remote: true, html: { id: "new_tag_child", role: "form" }) do |f| %>
        <div class="input-group">
          <%= f.hidden_field :campaign_id, value: @campaign_id %>
          <%= f.hidden_field :current_tag_id, value: @current_tag.id %>
          <%= f.hidden_field :ancestry, value: @tag_ancestry %>
          <%= f.text_field :t_name, class: "form-control",
                           placeholder: "weiteres Stichwort unter #{@current_tag.t_name}" %>
          <span class="input-group-btn">
            <%= f.submit "Hinzufügen", class: "btn btn-success" %>
          </span>
        </div>
      <% end %>
    </div>

    <div class="col-md-5 col-sm-12">
      <% unless @current_tag.root? %>
        <%= form_for(@current_tag, method: :put, remote: true, html: { role: "form" }) do |f| %>
          <%= f.hidden_field :id, value: @current_tag.id %>
          <%= f.hidden_field :campaign_id, value: @campaign_id %>
          <% if @current_tag.t_connection.present? %>
            <% submit_value = nil %>
            <% submit_text = "von #{@current_tag.parent.t_name} lösen" %>
          <% else %>
            <% submit_value = @current_tag.parent.id.to_s %>
            <% submit_text = "mit #{@current_tag.parent.t_name} verknüpfen" %>
          <% end %>
          <%= f.hidden_field :t_connection, value: submit_value %>
          <%= f.submit submit_text, class: "btn btn-default pull-left" %>
        <% end %>
      <% end %>

      <% unless @current_tag.has_children? %>
        <%= form_for(@current_tag, method: :delete, remote: true, html: { role: "form" }) do |f| %>
          <%= f.hidden_field :id, value: @current_tag.id %>
          <%= f.hidden_field :campaign_id, value: @campaign_id %>
          <%= f.submit "Stichwort löschen", class: "btn btn-danger pull-right",
                       onclick: "return confirm('#{@current_tag.t_name} wirklich entfernen?');" %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
